@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');


body {
  margin: 0;
  padding:0;
  width: 100%;
  overflow-x: hidden;
}
.header{
  display: flex;
  text-align: center;   
  padding: 1em;      
}
#searchForm {
  display: none;
  flex: 1;    
}

.searchcontainer {  
  display: flex;          
  padding: 1em; 
}

.searchcontainer button {
  border:none;
  padding: none;
  margin: none;  
  border:1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;   
  background-color: transparent; 
  border-right: none;    
  outline: none;  
}


.searchcontainer button:active {
  /****/
}

.searchcontainer input {  
  padding: .5em;
  flex: 1;
  border-style: solid;  
  border: 1px solid;
  border-left: none;    
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;  
  outline-color:#d83b1e;
}

.searchcontainer i {  
  padding: .5em;    
  color: #d83b1e;  
}

@media (min-width: 700px) {
  #searchForm {   
    display: block;        
    margin: 0 3em 0 3em;
  }    
}
.logo {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;    
    width: auto;            
}

.brand {
  font-size: 1.5em;
}


.brandTitle {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  color: #d83b1e;  
}

.brandLight {
  font-weight: 200;
}

.brand__ad {
  position: relative;  
  font-family: 'Droid sans serif', Times New Roman, serif;
  font-size: .5em;
  font-style: italic;
  text-align: center;
  color:#523468;  
  z-index: 1;  
  font-weight: bold;    
}

.brand__ad:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);  
  width: 100%;
  display: flex;  
  height: .1em;
  background-color: #b9b9b9;  
  z-index: -1;
}

.brand__adContent {
  padding:0 .5em 0 .5em; 
  background-color: white;
}


@media (min-width: 700px) {
  .logo.hidden {
    display: unset;
  }
  .brand {
    font-size: 2.5em;
  }
}
#cart {
  display: flex;    
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #b9b9b9;
  font-family: 'Droid', Helvetica, Arial, sans-serif;
  font-size: .75em;
  padding-top: .1em;  
  font-weight: bold;   
}

#cart p  {  
  margin: 0;    
}

#cartCount {
  color: #d83b1e;
  font-family: 'Droid serif', Times New Roman, serif;  
}

@media (min-width: 700px) {
  #cart.hidden {    
    display: unset;    
  }

  #cart {
    padding: 1em;
    flex-direction: row;
    font-size: 1em;
    font-weight: normal;
  }

  #cart a {
    padding: 1em;
  }
}

#shipping {  
  font-style: italic;  
  display: flex;
  justify-content: center;
  background-color: #E6E6E6;
  width: 100vw;  
  padding: .4em 0 .4em 0;     
}

#shipping p {
  margin:0;
  padding:0;
  color: #736975;
  font-family: 'Droid serif', Helvetica, Arial, sans-serif;
}

@media (min-width: 700px) {
  #shipping {
    display: none;
  }
}
.site-nav {
  position: absolute;    
  width: 100vw;     
  clip-path: circle(0px at top left);
  transition: clip-path ease-in-out 500ms;     
  z-index: 100;
}

.site-nav ul {
  background-color:#523468;  
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

.site-nav ul li {
  border-bottom: 1px solid white;
  border-width: thin;
  padding: 1em;
  font-family: 'Droid serif', Helvetica, Arial, sans-serif; 
  font-style: italic;  
}
.site-nav ul li:last-child {
  border-bottom: none;
}

.site-nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.site-nav ul li a i {
  display: none;    
}

.site-nav ul li:last-child {
    color: #b9b9b9;        
  }

@media (min-width: 700px) {
  .site-nav {
    position: relative;
    height: auto;        
    clip-path: initial;    
   }

   .site-nav ul {
      display: flex;
      padding: 1em;
   }  

   .site-nav li {
    display: inline-block;
    border: none;    
  }
  .site-nav ul li {
    border-bottom: none;
  }
  .site-nav ul li:last-child {
    margin-left: auto;
    margin-right: 1em;  
  }

  .site-nav ul li a i {
    display: inline-flex;
    margin-left: 0.5em;    
  }
}

#lightBoxBg{  
  position: fixed;
  top: 0;
  left: 0;  
  justify-content: center;
  align-items:center;  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;    
  display: none;
}

#lightbox {  
  position: absolute;    
  width: 75vw;
  height: 90vh;    
  background-color: #ffffff;
  z-index: 1002;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#lightbox i { 
  align-self: flex-end;
  font-size: 2em;
  cursor: pointer;
}

.lightboxContent {      
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

#lightboxImg {   
  overflow: hidden;  
  flex: 2;
}

.detalhesLightbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  flex: 1;
}

.detalhesLightbox h3,p,ul {
  margin-bottom: 1em;
  margin-top: 0;  
}

.detalhesLightbox h3 {
  font-size: 1.5em;
}

.detalhesLightbox ul {
  list-style-type:none;
  padding: 0;
}

 .detalhesLightbox h3:nth-last-child(3)  {
  margin: 0;
}

#preco {
  font-size: 1.5em;
  color: #D73A1E;
  font-weight: bold;
}
.detalhesLightbox button {
  background-color: #D73A1E;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1em;
  font-weight: normal;
  margin-top: 20px;
  padding: 10px 15px;
}

.detalhesLightbox button:hover {  
  background-color: #e7634b; /** which color? **/
}

.detalhesLightbox button:hover:active {  
  background-color: #a22b16;
}
section{
	position: relative;
}
section h2{
	justify-content: center;
}
#todosProdutos{
	position: relative;
	margin: 2%;
	width: 100%;
}
.produto{
	width: 26%;
	margin: 1%;
	height: 100%;
	display: inline-block;
	text-align: center;
	column-count: 1;
}
.boxConteudo>img{
	position: relative;
	width: 100%;
	/*display: none;*/
	height: 400px;
	cursor: pointer;
}
.titulo{
	font-size: 1.6em;
	font-weight: bold;
}
.preco{
	color: #d83b1e;
}
footer {
	background-color: #E6E6E6;       
	padding: 1%;    
	width: 100%;   
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: row;
	justify-content: space-between;
}
#social {
	display: flex;
	justify-content: space-around;
	width: 75%;
}

.fa-circle {      
	color: #523468;
}

.fa-facebook-f,.fa-twitter,.fa-tumblr {
	color: #ffffff;
}

.fa-pinterest,.fa-google-plus-official {
	color: #523468; 
}

#copyright {
	display: flex;
	justify-content: center;
	font-size: 1em;      
	font-family: 'Droid', Helvetica, Arial, sans-serif;
	color: #736975;  
    justify-content: flex-start;
    padding-left: 1.25em;
}

.conteudoFooter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form{
	background-color: #ffffff;   
	padding: 1em;  
	margin-bottom: 2em;
	margin-right: 1.2%;
	order: 1;
}

.form h3 {
	font-weight: normal;
	font-style: italic;
	font-family: 'Droid serif', Times New Roman, serif;
}

#newsletter h3,#newsletter p {
	padding: 0;    
	margin: 0;
}

#newsletter p {
	margin: .5em 0 1em 0;
	font-family: 'Droid', Helvetica, Arial, sans-serif;
	font-size: .9em;
}
.inputsNewsletter {
	display: flex;    
}

.inputsNewsletter input[type="search"] {  
	margin-right:1em;
	padding: .5em;
	flex: 1;
	border-style: solid;  
	border: 1px solid;
	border-radius: 5px;
}

.inputsNewsletter input[type="submit"] {
	border:none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #d83b1e;
	color: #ffffff;
	padding: 0 1em 0 1em;
	outline: none;
}

.inputsNewsletter input[type="submit"]:active {
	background-color: #F17F42;  
}

#menuFooter ul {  
	flex-direction: row;
	justify-content: flex-start;  
	flex-wrap: wrap;  
	list-style: none;  
	font-family: 'Droid', Helvetica, Arial, sans-serif;
	font-size: 1.25em;      
	text-transform: uppercase;  
	padding-left: 1.5em;
	display: flex;
}

#menuFooter ul li {
	width: 33%;    
}
#menuFooter ul li a {
	text-decoration: none;
	color: #d83b1e;    
}
